@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: url(https://picsum.photos/1920/1080/?random) no-repeat center center fixed; 
  background-size: cover;
  -webkit-transition: background-image 1000ms linear;
  -moz-transition: background-image 1000ms linear;
  -ms-transition: background-image 1000ms linear;
  -o-transition: background-image 1000ms linear;
  transition: background-image 1000ms linear;
}

a {
  text-decoration: none;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.container p {
  font-size: 20px;
}

.name {
  font-size: 45px;
  font-weight: bold;
}

.avatar {
  display: block;
  width: 190px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.social {
  color: white;
}
